<h2> Log In </h2>

<div class = "panel center">
	<%= link_to 'Login with Facebook', auth_at_provider_path(:provider => :facebook) %>
</div>

<div class = "panel center">
	<%= link_to 'Login with Twitter', auth_at_provider_path(:provider => :twitter) %>
</div>

<%= form_tag sessions_path do %>

	<div class = "field">
		<%= label_tag :username %>
		<%= text_field_tag :username, params[:email] %>
	</div>

	<div class = "field">
		<%= label_tag :password %>
		<%= password_field_tag :password, params[:password] %>
	</div>

	<div class="submit">
		<%= submit_tag "Log in", :class => "button"  %>
	</div>

<% end %>

<%= link_to "Back", projects_path %>