<h1>Pledge to <%= @project.name %></h1>

<%= form_for [@project, @pledge] do |f| %>

  <div class="field">
    <%= f.label "How much do you pledge?" %>
    <%= f.number_field :amount %>
  </div>
  <div class="actions"><%= f.submit %></div>

<% end %>