<% if @user.errors.present? %>
		<% @user.errors.full_messages.each do |error| %>
			<div data-alert class = "alert-box warning">
				<%= error %>
			</div>
		<% end  %>
	<% end %>


<%= form_for @user do |f| %>

  <%= f.label :username %>
  <%= f.text_field :username %>

  <%= f.label :email %>
  <%= f.email_field :email %>

  <div class = "row">
  	<div class = "large-6 columns">
			<%= f.label :password %>
			<%= f.password_field :password %>
  	</div>

		<div class = "large-6 columns">
		  <%= f.label :password_confirmation %>
		  <%= f.password_field :password_confirmation %>
  	</div>
	</div>
<div class="center">
  	<%= submit_tag "Submit", :class => "button"  %>
</div>

<% end %>