<%= form_for @project do |f| %>

  <% if @project.errors.any? %>
    <p><%= pluralize(@project.errors.count, "error") %> prevented this project from being saved:</p>
    <ul>
      <% @project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>

  <br>

  <div class="field">
    <%= f.label "Project Title" %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label "Project Description" %><br>
    <%= f.text_area :description %>
  </div>

  <div class="field">
    <%= f.label "What is your financial target?" %>
    <%= f.number_field :goal %>
  </div>

  <div class="field">
    <%= f.label "What is the deadline for your project?" %>
    <%= f.date_field :deadline %>
  </div>

  <%= f.fields_for :tiers do |tiers_f| %>

    <div class ="field">
      <%= tiers_f.label "Tier Name" %>
      <%= tiers_f.text_field :name %>
    
      <%= tiers_f.label "Tier Amount ($)" %>
      <%= tiers_f.number_field :name %>
   
      <%= tiers_f.label "Reward" %>
      <%= tiers_f.text_field :description %>
    </div>

    <div class ="field">
      <%= tiers_f.label "Tier Name" %>
      <%= tiers_f.text_field :name %>
    
      <%= tiers_f.label "Tier Amount ($)" %>
      <%= tiers_f.number_field :name %>
   
      <%= tiers_f.label "Reward" %>
      <%= tiers_f.text_field :description %>
    </div>
    
    <div class ="field">
      <%= tiers_f.label "Tier Name" %>
      <%= tiers_f.text_field :name %>
    
      <%= tiers_f.label "Tier Amount ($)" %>
      <%= tiers_f.number_field :name %>
   
      <%= tiers_f.label "Reward" %>
      <%= tiers_f.text_field :description %>
    </div>
    <% end %>

 <div class="action">
    <p><%= f.submit %></p>
  </div>

<% end %>