<%= form_for @project, :html => {:multipart => true} do |f| %>

  <% if @project.errors.any? %>
    <p><%= pluralize(@project.errors.count, "error") %> prevented this project from being saved:</p>
    <ul>
      <% @project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>

  <br>

  <div class="field">
    <%= f.label "Project Title" %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label "Project Description" %><br>
    <%= f.text_area :description %>
  </div>

  <div class="field">
    <%= f.label "What is your financial target?" %>
    <%= f.number_field :goal %>
  </div>

  <div class="field">
    <%= f.label "What is the deadline for your project?" %>
    <%= f.date_field :deadline %>
  </div>
  <div class = "center">

      <%= f.label "Upload an image file for your project (optional) " %>
      <%= f.file_field :picture  %>
      <%= f.hidden_field :picture_cache %>

    <div class="action">
      <p><%= submit_tag "Proceed to Tiers", class: "button" %></p>
    </div>
  </div>
<% end %>