<!-- left hand column (9-wide) -->

<div class = "large-9 medium-9 columns">
  <p><%= link_to "< Back", root_path %></p>
  <!-- project info section -->

  <h1><%= @project.name %></h1>

  <!-- edit controls visible to admin only -->
   <% if @project.user === current_user %>
      <%= link_to "Edit this Project", edit_project_url %><br>
   <% end %>
   <!--  -->

  <img src="<%= @project.picture %>">
  <p><%= @project.description %></p>
  <p>Project Deadline: <%= @project.deadline.to_date.to_formatted_s(:long) %></p>

  <div class="row">
    <div class="large-9 medium-9 columns">
      <div class="progress large-12 secondary round">
        <span class="meter" style="width: <%= @project.pledge_percent(100) %>%"></span>
      </div>
    </div>
    <% if @project.pledge_percent(100) >= 100  %>
      <div class="large-3 medium-3 column">
        <h5 class="secondary"><%= @project.pledge_percent %>% funded!</h5>
      </div>
    <% end %>
  </div>

  <br>

  <!-- pledges so far -->

    <h4>Backed by:</h4>
      <ul class="large-block-grid-6">
        <% @project.pledges.sample(6).each do |pledge| %>
         <li>
          <div class = "user-preview center">
            <% user = User.find(pledge.user_id) %>
            <%= gravatar_for(user,60) %></br>
            <%= user.username %></br> 
            $<%= pledge.amount %> 
          </div>
          </li>
        <% end %>
      </ul>
  

 
 
  <br>
  

  <!-- comment section -->

  <% if current_user %>
    <%= render "comment_form" %>
  <% else %>
    <p>Have an opinion? <%= link_to "Sign Up", signup_path %> to make a comment!</p>
  <% end %>

  <div id="comment-list">
    <% @project.comments.reverse.each do |comment| %>
      <%= render :partial => "/comments/comment_single", locals: { comment: comment } %>
    <% end %>
  </div>
</div>

<!-- right hand column (3-wide) -->

<div class = "large-3 medium-3 columns">
 
 <!-- big numbers info box -->
  <div id = "project-info">
    <h1><%= @project.pledges.count %></h1>
    <p>current pledges<p>
    <h1><%= number_to_currency(@project.pledge_total, precision: 0) %></h1>
    <p>of <%= number_to_currency(@project.goal, precision: 0) %> goal
    <h1> <%= distance_of_time_in_words_to_now(@project.deadline)%></h1>
    <p>until deadline<p>
  </div>

  <div>
    <% if current_user %>
    <a href="<%= new_project_pledge_path(params[:id]) %>" class="button radius" id = "donate-now">Back this Project</a>
    <% else  %>
    <a href="<%= signup_path %>" class="button radius">Sign up to Back this Project</a>
    <% end  %>
  </div>

 <!-- donation tiers section -->

  <% @project.tiers.sort{ |a,b| a.amount <=> b.amount }.each do |tier| %>
    <a href="<%= new_project_pledge_path(params[:id], {:amount => tier.amount}) %>" id="fill-div">
      <div class = "panel" id = "tier-box">
        <h3>$<%= tier.amount %></h3>
        <%= tier.name %><br>
        <%= tier.description %><br>
      </div>
    </a>
  <% end %>
</div>