<h1><%= @project.name %></h1>
<p>Project Description: <%= @project.description %></p>
<p>Project Target: $<%= @project.goal %></p>
<p>Project Current Pledges: $<%= @project.pledge_total %></p>
<p>Project Pledge Progress: <%= @project.pledge_percent %>%</p>
<p>Project Deadline: <%= @project.deadline %></p>
<p>Project Time Remaining: <%= distance_of_time_in_words_to_now(@project.deadline) %></p>
<br>
<% if @project.user === current_user %>
  <%= link_to "Edit this Project", edit_project_url %><br>

  <p>Users that have pledged to your project:</p>

  <% @project.pledges.each do |f| %>
    <%= User.find(f.user_id).username %> | <%= mail_to User.find(f.user_id).email %> | $<%= f.amount %> 
  <% end %>

<% end %>

<% if current_user.pledges.any? { |pledge| pledge.project_id == @project.id } %>
  <p>You are currently pledged at the X<%=  %> level!</p>
<% else %>
  <%= link_to "Pledge to this Project!", new_project_pledge_path(params[:id]) %>
<% end %>
<br>
<p><%= link_to "Back", root_path %></p>

<% if current_user %>
  Make a comment:
  <%= render "comment_form" %>
<% else %>
  <p>Please sign in to make a comment.</p>
<% end %>

<p>Comments:</p>

<div class="review-list">
  <% @project.comments.reverse.each do |comment| %>
    <% if comment.id.present? %>

  <div class="comment">
    <p><%= comment.content %>

    <% if comment.user === current_user %>
      <em> | <%= link_to "Edit", edit_project_comment_path(@project.id,comment.id) %> | <%= link_to "Trash", project_comment_path(@project.id,comment.id), :method => :delete %></em><br>
      <% end %>

      <em> by <%= comment.user.username unless comment.user == nil %></em>
      Added on: <%= comment.created_at %>
  </p></div>
<% end %>
  <% end %>
</div>