<!DOCTYPE html>
<html>
<head>
  <title>CrowdFunder</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <h1>CrowdBlunder</h1> 
  <div class = "user_panel">
    <% if current_user %> 
      <%= link_to current_user.username, user_path(current_user.id) %> | <%= link_to "Logout", logout_path %>
    <% else %>
      <%= link_to "Login", login_path %> | <%= link_to "Sign Up", signup_path %>
    <% end %>
  </div> 

<%= yield %>

</body>
</html>
