<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Bring Back The Band</title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <div class="contain-to-grid">
      <nav class="top-bar" data-topbar>
        <ul class="title-area">
          <li class="name">
            <h1 class="show-for-medium-up"><a href="<%= root_path %>" id="title">Bring<span class = "secondary">Back</span>The<span class = "secondary">Band</span></a></h1>
            <h2 class="show-for-small-only"><a href="<%= root_path %>" id="title">Bring<span class = "secondary">Back</span>The<span class = "secondary">Band</span></a></h2>
          </li>
          <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
        </ul>

        <% if current_user %>
        
        <!-- Right Nav Section for logged-in user -->

        <section class="top-bar-section">
          <!-- Right Nav Section -->
          <ul class="right">
            <li class="divider"></li>
            <li> <a href="<%= user_path(current_user.id) %>">My Projects</a> </li>
            <li class="divider"></li>
            <li class="active has-dropdown">
              <a href="<%= user_path(current_user.id) %>"><%= current_user.username %></a>
              <ul class="dropdown">
                <li class="divider"></li>
                <li><a href="<%= logout_path %>">Log Out</a></li>
              </ul>
            </li>
          </ul>

        <% else %>

        <!-- Right Nav Section for anonymous user -->

        <section class="top-bar-section">
          <ul class="right">
            <li class="divider"></li>
            <li> <a href="<%= login_path %>">Log in</a> </li>
            <li class="divider"></li>
            <li class="active"><a href="<%= signup_path %>">Sign Up</a></li>
          </ul>

        <% end  %>

          <!-- Left Nav Section -->
          <ul class="left">
            <li class="divider"></li>
            <li><a href="<%= projects_path %>">Browse</a></li>
            <li class="divider"></li>
            <li><a href="<%= new_project_path %>">Start a Project</a></li>
            <li class="divider"></li>
          </ul>
        </section>
      </nav>
    </div>

    </br>

    <% if flash[:alert] %>
      <div class = "row">
        <div class = "large-12 columns">
          <div data-alert class="alert-box">
            <%= flash[:alert] %>
            <a href="#" class="close">&times;</a>
          </div>
        </div>
      </div>
    <% end %>

    <% if flash[:notice] %>
      <div class = "row">
        <div class = "large-12 columns">
          <div data-alert class="alert-box">
            <%= flash[:notice] %>
            <a href="#" class="close">&times;</a>
          </div>
        </div>
      </div>
    <% end %>


          

    </br>

    <div class = "row">
      <%= yield %>
      <br>
      <br>
      <hr>
      <br/>
      <h6 class = "center">&copy; 2013 Jason Offet and Josh Lamb</h6>
      </br>
      <%= javascript_include_tag "application" %>
      

      <!-- <script src="js/foundation/foundation.js"></script> -->
      <script src="js/foundation/foundation.topbar.js"></script>
       <!-- Other JS plugins can be included here -->

    </div>
  </body>
</html>