<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <div class="contain-to-grid">
      <nav class="top-bar" data-topbar>
        <ul class="title-area">
          <li class="name">
            <h1><a href="<%= root_path %>" id="title">Bring<span class = "secondary">Back</span>The<span class = "secondary">Band</span></a></h1>
          </li>
        </ul>

        <% if current_user %>
        
        <!-- Right Nav Section for logged-in user -->

        <section class="top-bar-section">
          <!-- Right Nav Section -->
          <ul class="right">
            <li class="divider"></li>
            <li> <a href="">My Projects</a> </li>
            <li class="divider"></li>
            <li class="active has-dropdown">
              <a href="<%= user_path(current_user.id) %>"><%= current_user.username %></a>
              <ul class="dropdown">
                <li class="divider"></li>
                <li><a href="<%= logout_path %>">Log Out</a></li>
              </ul>
            </li>
          </ul>

        <% else %>

        <!-- Right Nav Section for anonymous user -->

        <section class="top-bar-section">
          <ul class="right">
            <li class="divider"></li>
            <li> <a href="<%= login_path %>">Log in</a> </li>
            <li class="divider"></li>
            <li class="active"><a href="<%= signup_path %>">Sign Up</a></li>
          </ul>

        <% end  %>

          <!-- Left Nav Section -->
          <ul class="left">
            <li class="divider"></li>
            <li><a href="<%= projects_path %>">Browse</a></li>
            <li class="divider"></li>
            <li><a href="<%= new_project_path %>">Start a Project</a></li>
            <li class="divider"></li>
          </ul>
        </section>
      </nav>
    </div>

    <div class = "row">
    </br>
    </br>
      <%= yield %>
      <%= javascript_include_tag "application" %>
    </div>
  </body>
</html>