<!DOCTYPE html>
<html>
<head>
  <title>CrowdFunder</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div id="debug">
    debug</br>
    id: <span> <%= params[:id] unless params[:id] == nil %></span></br>
    current_user.id: <span><%= current_user.id if current_user %></span></br>
    @project.id: <span><%= @project.id unless @project == nil %></span></br>
    @pledge.id: <span><%= @pledge.id unless @pledge == nil %></span></br>
    @project.pledges.all: <span><%= @project.pledges.all unless @project == nil%></span></br>
  </div>

  <h1><%= link_to "CrowdBlunder", root_path %></h1> 
  <div class = "user_panel">
    <% if current_user %> 
      <%= link_to current_user.username, user_path(current_user.id) %> | <%= link_to "Logout", logout_path %>
    <% else %>
      <%= link_to "Login", login_path %> | <%= link_to "Sign Up", signup_path %>
    <% end %>
  </div> 

<%= yield %>

</body>
</html>
